[alias]
	lg = log --graph --abbrev-commit --decorate \
		--format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	tree = lg --all
	ff = merge --ff-only
[checkout]
	DefaultRemote = alx
[color "diff"]
	old = brightred
	new = brightgreen
[core]
	editor = vim
	excludesFile = ~/.config/git/gitignore
[diff]
	algorithm = histogram
[diff "man"]
	xfuncname = "^\\.S[SH] .*$"
[init]
	defaultBranch = main
[pull]
	ff = only
[sendemail]
	smtpuser = alx.manpages
	smtpserver = smtp.googlemail.com
	smtpencryption = tls
	smtpserverport = 587
	smtpPass = <passwd>
[user]
	name = Alejandro Colomar
	email = alx@kernel.org
	signingKey = A9348594CE31283A826FBDD8D57633D441E25BB5
