[alias]
	lgo = log --graph --oneline
	lago = lgo --all
	lg = log --graph --abbrev-commit --decorate \
		--format=format:'%C(bold blue)%h%C(reset) %C(magenta)%G?%C(reset) - %C(bold cyan)%ai%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	tree = lg --all
	ff = merge --ff-only
[am]
	messageid = true
[checkout]
	DefaultRemote = alx
[color "diff"]
	old = brightred
	new = brightgreen
[commit]
	gpgSign = true
[core]
	editor = vim
	excludesFile = ~/.config/git/gitignore
[diff]
	algorithm = histogram
	mnemonicPrefix = true
[diff "man"]
	xfuncname = "^\\.S[SHsh] .*$"
[init]
	defaultBranch = main
[pager]
	status = true
[pull]
	ff = only
[sendemail]
	sendmailcmd = mutt -H - && true
[user]
	name = Alejandro Colomar
	email = alx@kernel.org
	signingKey = A9348594CE31283A826FBDD8D57633D441E25BB5
