################################################################################
#	Copyright (C) 2019		Alejandro Colomar Andres	       #
#	SPDX-License-Identifier:	ISC				       #
################################################################################
[Unit]
Description=Set up a random MAC for all network devices
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/random-mac

[Install]
WantedBy=multi-user.target
